@media (max-width: 1263px), (min-width: 1264px) {
    .main-grid {
        margin-left: 245px;
        width: 100%;
    }                                                                                                        

    .profile-content {
        flex: 1;
        padding: 30px 20px 0;
        max-width: 975px;
        margin: 0 auto;
    }

    .events {
        display: flex;
        flex-direction: row;
        gap: 70px;
        align-items: center;
        justify-content: center;
        height: 53px;
        font-size: 12px;
    }

    .posted {
        font-weight: bold;
        border-top: 1px solid;
    }

    .posted,
    .saved,
    .tagged {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .posted span,
    .saved span,
    .tagged span {
        margin-left: 6px;
    }

    .posted img,
    .tagged img {
        width: 15px;
        margin: 0;
    }

    .saved img{
        width: 12px;
        margin: 0;
    }

    .grid-posts {
        display: flex; 
        flex-direction: column; 
        padding-bottom: 0px; 
        padding-top: 0px; 
        position: relative;             
    }

    .post-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 4px;
        height: 410.217px;
    }

    .post-row div {
        margin-right: 4px;
    }

    .post-row div img {
        object-fit: cover;
        width: 307.667px;
        height: 100%;
    }

    .third-post img{
        object-position: 0 -55px;
    }
}

@media (min-width: 1920px) {
    .main-grid {
        width: 335px;
        width: 100%;
    }
}

@media (max-height: 612px){
    .profile-content {
        flex: 1;
        padding: 30px 20px 0;
        max-width: 960.75px;
        margin: 0 auto;
    }
}